:root {
    --heading-color: #ffffff;
    --para-color: #dedee2;
    --main-color: #05c3de;
    --bg-main-color: #171744;
    --bg-second-color: #1c1d55;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

p,
span,
li {
    margin: 0;
    color: var(--para-color);
    line-height: 1.7;
    font-size: 16px;
}

a {
    color: var(--para-color);
}

a:focus,
a:hover {
    color: var(--main-color);
}

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-top {
    padding: 20px 0;
}

.header-social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-social li a {
    padding: 0 12px;
    font-size: 14px;
    transition: all 0.3s;
}

.header-action {
    display: flex;
    align-items: center;
}

.cmn-btn {
    text-decoration: none;
    text-transform: uppercase;
}

.cmn-btn {
    padding: 0 45px;
    text-align: center;
    color: #fff;
    border-radius: 60px;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    transition: all 0.5s;
    z-index: 1;
    background-image: linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
}

.header-section.header-fixed .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    background-image: -webkit-linear-gradient(0deg, rgb(93, 93, 249) 0%, rgb(49, 35, 102) 100%);
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
    animation-name: fadeInDown;
    animation-duration: 1s;
    transition: all 1s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.header-search-bar input {
    position: relative;
    border-radius: 60px;
    padding: 10px 80px 10px 30px;
    background-color: #3639a6;
    border: 1px solid #3462c2;
    color: var(--main-color);
}

input {
    padding: 12px 15px;
    border: 1px solid #12387e;
    border-radius: 6px;
    font-size: 16px;
    background: transparent;
    width: 100%;
    color: #4c588f;
    text-transform: capitalize;
}

input:focus {
    outline: none;
}

.header-search-bar .header-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    height: 100%;
    width: 100px;
    padding: 0 20px;
    color: var(--main-color);
    background-color: transparent;
}

.header-search-btn i {
    padding-right: 1.5rem;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--para-color);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--para-color)
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--para-color)
}

.navbar {
    padding: 0 20px !important;
    background-image: -moz-linear-gradient(0deg, rgb(93, 93, 249) 0%, rgb(49, 35, 102) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(93, 93, 249) 0%, rgb(49, 35, 102) 100%);
}

.navbar.expanded {
    background-image: none;
}

.nav-link {
    margin: 1rem;
}

a.nav-link:hover {
    color: var(--main-color) !important;
}

.nav-link.active {
    margin-left: 0;
}

a.nav-link.active {
    color: var(--main-color) !important;
}

.nav-item a {
    color: #fff !important;
    font-weight: 400;
    align-items: center;
    font-size: 18px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

.fa-bars {
    background: var(--main-color);
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.banner-section.bg.bg_img {
    background-image: url(../assets/images/banner/banner.png);
}

.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-section {
    position: relative;
    padding-top: 300px;
    padding-bottom: 300px;
    overflow: hidden;
}

.banner-element-one {
    position: absolute;
    left: 50%;
}

.banner-element-two {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.banner-element-three {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.banner-element-two {
    position: absolute;
    left: 5%;
    top: 22%;
}

.banner-element-three {
    position: absolute;
    left: 60%;
    bottom: 16%;
}

.banner-element-four {
    position: absolute;
    right: 20px;
    bottom: 55%;
    animation: giraffe 3s linear infinite;
}

.banner-element-four-copy {
    text-align: center;
    animation: giraffe 3s linear infinite;
}

.banner-element-five {
    position: absolute;
    right: 20px;
    bottom: 70%;
    -webkit-animation: falling-star 8s infinite linear;
    animation: falling-star 8s infinite linear;
}

.banner-element-six {
    position: absolute;
    right: 40px;
    top: 10%;
    -webkit-animation: falling-star 10s infinite linear;
    animation: falling-star 10s infinite linear;
}

.banner-element-seven {
    position: absolute;
    right: 60px;
    top: 20%;
    -webkit-animation: zoominout 3s linear infinite;
    animation: zoominout 3s linear infinite;
}

.banner-element-eight {
    position: absolute;
    left: 30%;
    top: 16%;
    opacity: .5;
    -webkit-animation: zoominout 3s linear infinite;
    animation: zoominout 3s linear infinite;
}

.banner-element-nine {
    position: absolute;
    left: 20%;
    top: 0;
    -webkit-animation: falling-star 8s infinite linear;
    animation: falling-star 8s infinite linear;
}

.banner-element-ten {
    position: absolute;
    left: 20%;
    top: 10%;
    -webkit-animation: falling-star 10s infinite linear;
    animation: falling-star 10s infinite linear;
}

.banner-element-eleven {
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-animation: falling-star 10s infinite linear;
    animation: falling-star 10s infinite linear;
}

.banner-element-twelve {
    position: absolute;
    left: 60%;
    top: 5%;
    -webkit-animation: falling-star 8s infinite linear;
    animation: falling-star 8s infinite linear;
}

.banner-element-thirteen {
    position: absolute;
    left: 65%;
    top: 5%;
    -webkit-animation: falling-star 8s infinite linear;
    animation: falling-star 8s infinite linear;
}

.banner-element-fourteen {
    position: absolute;
    right: 0;
    bottom: 50%;
    -webkit-animation: falling-star 8s infinite linear;
    animation: falling-star 8s infinite linear;
}

.banner-element-fifteen {
    position: absolute;
    right: 0;
    bottom: 20%;
    -webkit-animation: falling-star 8s infinite linear;
    animation: falling-star 8s infinite linear;
}

.banner-element-sixteen {
    position: absolute;
    right: 50%;
    bottom: 50%;
    opacity: .5;
}

@keyframes giraffe {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes falling-star {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }

    20% {
        transform: translate3d(-70px, 80px, 0);
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: translate3d(-300px, 310px, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(-360px, 380px, 0);
    }
}

@keyframes zoominout {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.container.front {
    z-index: 9;
}

.behind {
    z-index: 1;
}

.banner-content .title {
    font-size: 80px;
}

.banner-content .sub-title {
    font-size: 24px;
}

.banner-btn-area {
    margin-top: 50px;
    margin-bottom: 30px;
}

.banner-btn-area .cmn-btn i {
    margin-left: 5px;
}

.banner-content .trial-area span {
    transition: all 0.3s;
}

.banner-content .trial-area span:hover {
    color: var(--main-color);
}

.banner-content .cmn-btn-border {
    margin-left: 10px;
}

.banner-video-area {
    margin-left: 250px;
}

.banner-video-icon {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: #1a5cb0;
    border-radius: 50%;
    z-index: 2;
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.banner-video-icon:hover img {
    animation: rotate2 5s linear infinite;
}

.banner-video-icon a::before,
.banner-video-icon a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #1a5cb0;
    opacity: 0.15;
    z-index: -10;
}

.banner-video-icon a::before {
    z-index: -10;
    -webkit-animation: inner-ripple 2000ms linear infinite;
    -moz-animation: inner-ripple 2000ms linear infinite;
    animation: inner-ripple 2000ms linear infinite;
}

.banner-video-icon a::after {
    z-index: -10;
    -webkit-animation: outer-ripple 2000ms linear infinite;
    -moz-animation: outer-ripple 2000ms linear infinite;
    animation: outer-ripple 2000ms linear infinite;
}

@keyframes inner-ripple {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    30% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes outer-ripple {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    80% {
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.banner-content .title {
    font-size: 80px;
}

.title {
    color: var(--heading-color);
}

h2,
h2>a {
    font-size: 60px;
    font-weight: 700;
}

h1,
h1>a,
h2,
h2>a,
h3,
h3>a,
h4,
h4>a,
h5,
h5>a,
h6,
h6>a {
    color: var(--heading-color);
    line-height: 1.25;
    font-weight: 600;
    text-transform: capitalize;
}

.banner-btn-area {
    display: flex;
    flex-wrap: wrap;
}

.sign-up-btn {
    display: flex;
    align-items: center;
}

.sign-up-btn i {
    margin-left: 1rem;
}

.trial-area {
    margin-top: 2rem;
}

.trial-area a {
    text-decoration: none;
}

.about-section {
    position: relative;
    overflow: hidden;
}

.bg {
    background-color: var(--bg-main-color);
}

.about-element-one {
    position: absolute;
    top: 20%;
    right: 10%;
    animation: falling-star 12s infinite linear;
}

.about-element-two {
    position: absolute;
    top: 20%;
    right: 8%;
    animation: falling-star 8s infinite linear;
}

.about-element-three {
    position: absolute;
    top: 20%;
    right: 12%;
    animation: falling-star 6s infinite linear;
}

.about-element-four {
    position: absolute;
    top: 20%;
    left: 12%;
    animation: falling-star 6s infinite linear;
}

.about-element-five {
    position: absolute;
    top: 20%;
    left: 13%;
    animation: falling-star 15s infinite linear;
}

.about-element-six {
    position: absolute;
    top: 20%;
    left: 15%;
    animation: falling-star 5s infinite linear;
}

.about-element-seven {
    position: absolute;
    top: 20%;
    left: 14%;
    animation: falling-star 20s infinite linear;
}

.about-element-eight {
    position: absolute;
    bottom: 10%;
    right: 10%;
    animation: zoominout 4s linear infinite;
}

.about-element-nine {
    position: absolute;
    bottom: 10%;
    left: 5%;
    animation: rotate2 10s linear infinite;
}

.about-element-ten {
    position: absolute;
    top: 10%;
    left: 5%;
    animation: zoominout 4s linear infinite;
}

.about-item {
    position: relative;
    background-color: #1d1d55;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    transition: all 0.5s;
}

.about-icon {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-image: -moz-linear-gradient(-82deg, rgba(115, 240, 255, 0.2) 0%, rgba(64, 94, 252, 0.2) 100%);
    background-image: -webkit-linear-gradient(-82deg, rgba(115, 240, 255, 0.2) 0%, rgba(64, 94, 252, 0.2) 100%);
    background-image: -ms-linear-gradient(-82deg, rgba(115, 240, 255, 0.2) 0%, rgba(64, 94, 252, 0.2) 100%);
}

img {
    max-width: 100%;
    height: auto;
}

.client-thumb img {
    max-height: 150px !important;
}

.about-item .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-item .about-btn {
    margin-top: 20px;
}

.about-item .about-btn .custom-btn {
    color: var(--heading-color);
    text-decoration: none;
}

.about-item .about-btn .custom-btn i {
    margin-left: 1rem;
}

.about-item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(-82deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    background-image: -webkit-linear-gradient(-82deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    background-image: -ms-linear-gradient(-82deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    z-index: -1;
    -ms-transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    transition: all 0.5s;
}

.about-item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(-82deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    background-image: -webkit-linear-gradient(-82deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    background-image: -ms-linear-gradient(-82deg, rgb(115, 240, 255) 0%, rgb(90, 167, 254) 38%, rgb(64, 94, 252) 100%);
    z-index: -1;
    -ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    transition: all 0.5s;
}

.about-item:hover::before {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.about-item:hover::after {
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

.about-item:hover .about-icon {
    background-image: -moz-linear-gradient(-82deg, rgb(64, 94, 252) 0%, rgb(115, 240, 255) 100%);
    background-image: -webkit-linear-gradient(-82deg, rgb(64, 94, 252) 0%, rgb(115, 240, 255) 100%);
    background-image: -ms-linear-gradient(-82deg, rgb(64, 94, 252) 0%, rgb(115, 240, 255) 100%);
}

.about-content .sub-title {
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
}

.sub-title {
    color: var(--main-color);
}

.about-content .title {
    margin-bottom: 10px;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content .about-content-btn {
    margin-top: 30px;
}

.about-content .about-content-btn .cmn-btn {
    padding: 0 40px;
}

.about-content-btn {
    display: flex;
}

.about-content .about-content-btn .cmn-btn i {
    margin-left: 1rem;
}

.mt-30 {
    margin-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.mb-30-none {
    margin-bottom: -30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.client-section {
    position: relative;
    overflow: hidden;
}

.client-element-one {
    position: absolute;
    top: 0;
    left: 40%;
    animation: giraffe 3s linear infinite;
}

.client-element-two {
    position: absolute;
    bottom: 0;
    left: 20%;
    animation: giraffe 3s linear infinite;
}

.client-element-three {
    position: absolute;
    top: 30%;
    left: 20%;
    animation: falling-star 10s infinite linear;
}

.client-element-four {
    position: absolute;
    top: 30%;
    left: 19%;
    animation: falling-star 20s infinite linear;
}

.client-element-five {
    position: absolute;
    top: 30%;
    left: 22%;
    animation: falling-star 8s infinite linear;
}

.client-element-six {
    position: absolute;
    top: 10%;
    right: 10%;
    animation: falling-star 10s infinite linear;
}

.client-element-seven {
    position: absolute;
    top: 10%;
    right: 9%;
    animation: falling-star 20s infinite linear;
}

.client-element-eight {
    position: absolute;
    top: 10%;
    right: 12%;
    animation: falling-star 8s infinite linear;
}

.client-item-area {
    position: relative;
    /* width: 630px;
    height: 630px;
    padding: 80px 50px; */
    background-image: -moz-linear-gradient(16deg, rgb(225, 161, 237) 0%, rgb(172, 125, 241) 35%, rgb(118, 88, 244) 100%);
    background-image: -webkit-linear-gradient(16deg, rgb(225, 161, 237) 0%, rgb(172, 125, 241) 35%, rgb(118, 88, 244) 100%);
    background-image: -ms-linear-gradient(16deg, rgb(225, 161, 237) 0%, rgb(172, 125, 241) 35%, rgb(118, 88, 244) 100%);
    border-radius: 50%;
}

.client-item {
    position: relative;
}

.client-item::before {
    position: absolute;
    content: "\f10d";
    top: 20%;
    left: 20px;
    color: #8662d9;
    font-family: 'Font Awesome 5 Free';
    font-size: 80px;
    font-weight: 600;
    opacity: .5;
}

.client-item::after {
    position: absolute;
    content: "\f10e";
    bottom: -6%;
    right: 20px;
    color: #8662d9;
    font-family: 'Font Awesome 5 Free';
    font-size: 80px;
    font-weight: 600;
    opacity: .7;
}

.client-details {
    margin-top: 30px;
}

.client-ratings {
    margin-bottom: 20px;
}

.client-ratings i {
    color: hsl(48, 100%, 50%);
}

.client-details p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.client-details .title {
    font-size: 24px;
    padding: 5px 30px;
    text-align: center;
    background-color: #8662d9;
    border-radius: 50px;
}

.client-content {
    margin-left: 40px;
}

.client-content .sub-title {
    color: var(--main-color);
}

.client-content .title {
    font-size: 50px;
}

.client-content .client-btn {
    display: flex;
    margin-top: 30px;
}

.client-content .client-btn a i {
    margin-left: 1rem;
}

.client-wrapper {
    overflow: hidden;
}

.swiper-pagination {
    position: relative !important;
    display: block;
    margin-top: 60px;
}

.swiper-pagination .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #efe5fc;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

.client-item-area .ruddra-prev,
.client-item-area .ruddra-next {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.client-item-area .ruddra-prev:hover,
.client-item-area .ruddra-next:hover {
    box-shadow: 0px 12px 20px 0px rgba(240, 117, 199, 0.4);
}

.client-item-area .ruddra-prev {
    left: -25px;
}

.client-item-area .ruddra-next {
    right: -25px;
}

.ruddra-next,
.ruddra-prev {
    background-color: #31318f;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    outline: none;
    transition: all 300ms ease;
    display: inline-block;
    font-size: 14px;
    color: #7977cb;
    position: absolute;
    top: 50%;
    z-index: 99;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.ruddra-prev {
    right: 45px;
}

.ruddra-next {
    right: 10px;
}

.ruddra-next:hover,
.ruddra-prev:hover {
    background-image: -moz-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -webkit-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -ms-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    color: #fff;
}

.join-section {
    position: relative;
    overflow: hidden;
}

.join-element-one {
    position: absolute;
    top: 20%;
    left: 0;
    animation: zoominout 4s linear infinite;
}

.join-element-two {
    position: absolute;
    top: 10%;
    left: 20%;
    animation: zoominout 4s linear infinite;
}

.join-element-three {
    position: absolute;
    top: 10%;
    left: 30%;
    animation: zoominout 4s linear infinite;
}

.join-element-four {
    position: absolute;
    top: 5%;
    left: 40%;
    animation: zoominout 4s linear infinite;
}

.join-element-five {
    position: absolute;
    top: 70%;
    left: 20%;
    animation: falling-star 10s infinite linear;
}

.join-element-six {
    position: absolute;
    top: 70%;
    left: 18%;
    animation: falling-star 6s infinite linear;
}

.join-element-seven {
    position: absolute;
    top: 70%;
    left: 22%;
    animation: falling-star 8s infinite linear;
}

.join-element-eight {
    position: absolute;
    top: 20%;
    left: 50%;
    animation: falling-star 10s infinite linear;
}

.join-element-nine {
    position: absolute;
    top: 20%;
    left: 52%;
    animation: falling-star 6s infinite linear;
}

.join-element-ten {
    position: absolute;
    top: 20%;
    left: 48%;
    animation: falling-star 8s infinite linear;
}

.join-element-eleven {
    position: absolute;
    top: 10%;
    right: 10%;
    animation: falling-star 10s infinite linear;
}

.join-element-twelve {
    position: absolute;
    top: 10%;
    right: 8%;
    animation: falling-star 20s infinite linear;
}

.join-element-thirteen {
    position: absolute;
    top: 10%;
    right: 6%;
    animation: falling-star 16s infinite linear;
}

.join-element-fourteen {
    position: absolute;
    top: 70%;
    right: 6%;
    animation: falling-star 16s infinite linear;
}

.join-element-fifteen {
    position: absolute;
    top: 70%;
    right: 8%;
    animation: falling-star 16s infinite linear;
}

.join-element-sixteen {
    position: absolute;
    top: 70%;
    right: 10%;
    animation: falling-star 16s infinite linear;
}

.counter-item {
    width: 100%;
    position: relative;
    background-color: var(--bg-second-color);
    padding: 40px 30px;
    border-radius: 8px;
}

.counter-item:last-child {
    margin-right: 0;
}

.counter-item .odo-area {
    position: relative;
    transition: all 0.7s;
}

.counter-item .odo-area .odo-title {
    color: white;
}

.counter-item .odo-area .odo-title span {
    font-size: 1.7rem;
}

.counter-item p {
    font-weight: 600;
    font-size: 18px;
    color: var(--main-color);
}

#vmap {
    height: 500px;
    position: relative;
    margin-left: 60px;
    margin-top: -20px;
}

div[class*="position"] {
    position: absolute;
}

div[class*="position"]:hover .details {
    opacity: 1;
    visibility: visible;
}

.position-1 {
    top: 16%;
    left: 38%;
}

.position-2 {
    top: 35%;
    left: 18%;
}

.position-3 {
    top: 63%;
    left: 54%;
}

.position-4 {
    top: 63%;
    left: 28%;
}

.position-5 {
    top: 16%;
    left: 68%;
}

.position-6 {
    top: 36%;
    left: 75%;
}

.position-7 {
    top: 44%;
    left: 50%;
}

.position-8 {
    top: 75%;
    left: 86%;
}

@keyframes pulseOne {
    0% {
        box-shadow: 0 0 0 0 rgba(83, 80, 255, 0.851), 0 0 0 0 rgba(83, 80, 255, 0.851);
        -webkit-box-shadow: 0 0 0 0 rgba(83, 80, 255, 0.851), 0 0 0 0 rgba(83, 80, 255, 0.851);
        -moz-box-shadow: 0 0 0 0 rgba(83, 80, 255, 0.851), 0 0 0 0 rgba(83, 80, 255, 0.851);
    }

    40% {
        box-shadow: 0 0 0 20px rgba(83, 80, 255, 0), 0 0 0 0 rgba(83, 80, 255, 0.851);
        -webkit-box-shadow: 0 0 0 20px rgba(83, 80, 255, 0), 0 0 0 0 rgba(83, 80, 255, 0.851);
        -moz-box-shadow: 0 0 0 20px rgba(83, 80, 255, 0), 0 0 0 0 rgba(83, 80, 255, 0.851);
    }

    80% {
        box-shadow: 0 0 0 20px rgba(83, 80, 255, 0), 0 0 0 20px rgba(83, 80, 255, 0);
        -webkit-box-shadow: 0 0 0 20px rgba(83, 80, 255, 0), 0 0 0 20px rgba(83, 80, 255, 0);
        -moz-box-shadow: 0 0 0 20px rgba(83, 80, 255, 0), 0 0 0 20px rgba(83, 80, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(83, 80, 255, 0), 0 0 0 0 rgba(83, 80, 255, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(83, 80, 255, 0), 0 0 0 0 rgba(83, 80, 255, 0);
        -moz-box-shadow: 0 0 0 0 rgba(83, 80, 255, 0), 0 0 0 0 rgba(83, 80, 255, 0);
    }
}

div[class*="position"] .dot {
    position: relative;
    z-index: 1;
    width: 10px;
    height: 10px;
    border: 2px solid #8f46ed;
    box-shadow: 0 0 5px 3px rgba(254, 196, 45, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    cursor: pointer;
    background-color: #8f46ed;
    animation: pulseOne 5s linear infinite;
    -webkit-animation: pulseOne 5s linear infinite;
    -moz-animation: pulseOne 5s linear infinite;
}

div[class*="position"] .details {
    position: relative;
    z-index: 9;
    padding: 5px 10px;
    background-color: var(--main-color);
    margin-top: 8px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer-section {
    padding-top: 50px;
}

.copyright-area {
    padding: 20px 0;
    border-top: 1px solid #40509d;
    margin-top: 20px;
}

.blog-social li {
    display: inline-block;
}

.blog-social li a {
    border: 1px solid #12387e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.blog-social li a:hover,
.blog-social li a.active {
    color: #fff;
    background-image: -moz-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -webkit-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    border: 1px solid transparent;
}

.video-section {
    text-align: center;
    position: relative;
    z-index: 9;
}

.video-section video {
    width: 90%;
}

.game-section {
    background-color: #1c1c50;
}

.game-item {
    border-radius: 10px;
}

.game-thumb {
    position: relative;
    border-radius: 10px;
}

.game-thumb img {
    width: 100%;
}

.game-thumb::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    border-radius: 10px 10px 0 0;
    background-image: -moz-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -webkit-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -ms-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
}

.game-thumb .thumb-details {
    position: absolute;
    left: 0;
    top: 15%;
    padding: 0 15px;
    background-color: #ed4455;
    border-radius: 0 5px 5px 0;
}

.game-content {
    background-color: #202066;
    border-radius: 0 0 10px 10px;
}

.game-content-body {
    padding: 20px 15px;
    border-bottom: 1px solid #2b2b6e;
}

.game-meta-post {
    margin-top: 10px;
}

.game-verson span {
    position: relative;
    padding-right: 20px;
}

.game-verson span::after {
    position: absolute;
    content: '';
    top: 5px;
    right: 0;
    width: 2px;
    height: 16px;
    background-color: #999dc9;
}

.game-ratings {
    padding-left: 20px;
}

.game-ratings i {
    font-size: 14px;
    color: #ffcc00;
}

.game-content-footer {
    padding: 30px 15px;
}

.game-footer-icon i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #3a446a;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: var(--para-color);
}

.game-item:hover .game-footer-icon i {
    background-image: -moz-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -webkit-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
    background-image: -ms-linear-gradient(-30deg, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%);
}

.site-logo img, .footer-logo img {
    width: 220px;
}